In [1]:
import pandas as pd

In [26]:
# Import Datasets

# PWT
df = pd.read_excel('/Users/joamacha/Library/CloudStorage/OneDrive-TexasTechUniversity/Personal/Projects/Code/GitHub/populism-index/Data/pwt1001.xlsx', sheet_name="Data")
df.replace({'Bolivia (Plurinational State of)':'Bolivia',
            'Venezuela (Bolivarian Republic of)':'Venezuela'
                }, inplace=True)
# UNSD - Region Definitions, Country Codes
unsd = pd.read_excel('/Users/joamacha/Library/CloudStorage/OneDrive-TexasTechUniversity/Personal/Projects/Code/GitHub/populism-index/Data/UNSD — Methodology.xlsx')
# SWIID - Inequality data
swiid = pd.read_csv('/Users/joamacha/Library/CloudStorage/OneDrive-TexasTechUniversity/Personal/Projects/Code/GitHub/populism-index/Data/swiid9_5_summary.csv')

In [27]:
# Merge
df = pd.merge(df, unsd, left_on='countrycode', right_on='ISO-alpha3 Code', how='left')
df = df.loc[df['Sub-region Name'] == 'Latin America and the Caribbean'].drop(columns=df.columns[52:59])
df = pd.merge(df, swiid, left_on=['country','year'], right_on=['country','year'], how='left')

### CEPAL

Data from CEPAL does not have country codes and uses country names in Spanish. It's better to merge them all first, include the ISO codes, them merge to the rest of the file using the ISO. 

All data is available here: https://statistics.cepal.org/portal/cepalstat/dashboard.html?theme=2&lang=en

The specific series used are: 

Inflation: "Annual growth rate of the consumer prices index: december to december"

In [ ]:
#Codes for CEPAL 
codes = pd.read_excel('/Users/joamacha/Library/CloudStorage/OneDrive-TexasTechUniversity/Personal/Projects/Code/GitHub/populism-index/Data/CEPAL_CODES.xlsx')

In [29]:
df

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,Country or Area,ISO-alpha3 Code,gini_disp,gini_disp_se,gini_mkt,gini_mkt_se,abs_red,abs_red_se,rel_red,rel_red_se
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,VGB,British Virgin Islands,US Dollar,2015,1073.875000,1025.093018,0.029152,0.013555,NaN,NaN,...,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2796,VGB,British Virgin Islands,US Dollar,2016,1161.858521,1057.830322,0.029355,0.013650,NaN,NaN,...,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2797,VGB,British Virgin Islands,US Dollar,2017,1089.830444,1060.350098,0.029577,0.013753,NaN,NaN,...,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798,VGB,British Virgin Islands,US Dollar,2018,1118.797974,1093.550415,0.029802,0.013858,NaN,NaN,...,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799,VGB,British Virgin Islands,US Dollar,2019,1147.060059,1122.182373,0.030030,0.013964,NaN,NaN,...,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### New Variables

In [ ]:
df['rel_red'] = (df.gini_mkt - df.gini_disp) / df.gini_mkt